{:nrepl {:port 7002}
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:app {:entries [{{name}}.app]}}
   :devtools {:watch-dir "resources/public"}}
  :test
  {:target :node-test
   :output-to "target/test/test.js"
   :autorun true}}}
